.row{
    padding: 20px;
}
div{
    background-color: black;
    text-align: center;
    color: white;
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
    margin-left: 20%;
    color: white;
}
.puesto{
    margin-left: 20%;
}
span{
    text-align: left;
    margin: 20px;
}
p{
    margin-left: 4%;
}
h1{
    margin-left: 4%;
}

/*Esilo de la foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 2px 4px 0px #F2E952;
        left: 3%;
        top: 650px;
    }
}
@media (min-width: 1200px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 2px 4px 0px #F2E952;
        left: 3%;
        top: 610px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 2px 4px 0px #F2E952;
        left: 40%;
        top: 745px;
    }
    #nombre{
        font-weight: bold;
        margin-top: 5%;
        color: white;
        margin-left: 0;
    }
    .puesto{
        margin-left: 0;
    }
}