<div class="row">
    <h1>Experiencia Laboral</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <ul>
                    <tr *ngFor="let Experiencia of expe">
                        <li>
                            <td>
                                <h1>{{Experiencia.nombreE}}</h1>
                            </td>
                        </li>
                        <p>
                            <td>{{Experiencia.descripcionE}}</td>
                        </p>
                        <td *ngIf="isLogged">
                            <button class="btn btn-warning" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i> EDITAR
                            </button>
                        </td>
    
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash"></i> BORRAR 
                            </button>
                        </td>
                    </tr>
                </ul>
            </tbody>
        </table>
    </div>


    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Servicio Tecnico</h1> - <h3>(1 año)</h3>
            </li>
            <div class="parte1">
                <img src="../../../assets/hospital.jpg" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit
                placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat.
                Facilis, consequatur quas.</p>

        </ul>
    </div>
</div>