<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2E952'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'HTML'"
        [showUnits]="false"
        [titleColor]="'white'"
        [showSubtitle]="false"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2E952'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'CSS'"
        [showUnits]="false"
        [titleColor]="'white'"
        [showSubtitle]="false"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2E952'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'JS'"
        [showUnits]="false"
        [titleColor]="'white'"
        [showSubtitle]="false"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2E952'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'GitHub'"
        [showUnits]="false"
        [titleColor]="'white'"
        [showSubtitle]="false"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2E952'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'Ingles'"
        [showUnits]="false"
        [titleColor]="'white'"
        [showSubtitle]="false"
    ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#F2E952'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600"
        [title]="'Social'"
        [showUnits]="false"
        [titleColor]="'white'"
        [showSubtitle]="false"
    ></circle-progress>
    </div> 
</div>