.gradient-custom {
    /* fallback for old browsers */
    background: #DCD44E;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(25, 23, 27), rgb(169, 187, 65));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgb(25, 23, 27), #F2E952)
    }