<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tecnico en Informatica personal y profesional</h1> - <h3>(4 Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat. Facilis, consequatur quas.</p>
 
        </ul>
        <ul>
            <li>
                <h1>Argentina Programa</h1> - <h3>(Primera Etapa)</h3>
            </li>
            <div class="imagen">
                <img src="../../../assets/argProgramaCerticate.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat. Facilis, consequatur quas.</p>
 
        </ul>
        <ul>
            <li>
                <h1>Emprendimiento</h1> - <h3>(Silex)</h3>
            </li>
            <div class="imagen">
                <img src="../../../assets/silex.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat. Facilis, consequatur quas.</p>
 
        </ul>
    </div>
</div>