<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">
                Nuevo Titulo
            </button>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let Educacion of educacion">
                            
                                <li>
                                    <td>
                                        <h1>{{Educacion.nombreE}}</h1>
                                    </td>
                                </li>
                                <p>
                                    <td>{{Educacion.descripcionE}}</td>
                                </p>
                                <td *ngIf="isLogged">
                                    <button class="btn btn-warning" routerLink="/editedu/{{Educacion.id}}">
                                        <i class="bi bi-pencil-fill"></i> EDITAR
                                    </button>
                                </td>
        
        
                                <td *ngIf="isLogged">
                                    <button class="btn btn-danger" (click)="delete(Educacion.id)">
                                        <i class="bi bi-trash"></i> BORRAR
                                    </button>
                                </td>
                            
                        </tr>
                    </tbody>
                </table>
            </ul>
        </div>

        <ul>
            <li>
                <h1>Tecnico en Informatica personal y profesional</h1> - <h3>(4 Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit
                placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat.
                Facilis, consequatur quas.</p>

        </ul>
        <ul>
            <li>
                <h1>Argentina Programa</h1> - <h3>(Primera Etapa)</h3>
            </li>
            <div class="imagen">
                <img src="../../../assets/argProgramaCerticate.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit
                placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat.
                Facilis, consequatur quas.</p>

        </ul>
        <ul>
            <li>
                <h1>Empresas</h1> - <h3>(Silex)</h3>
            </li>
            <div class="imagen">
                <img src="../../../assets/silex.png" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quo delectus fugiat nobis nostrum sit
                placeat enim inventore, rerum obcaecati aspernatur, tempore voluptates voluptate maiores quas repellat.
                Facilis, consequatur quas.</p>

        </ul>
    </div>
</div>