<div class="row">
    <div>
        <img src="../../../assets/perfil.jpg" 
        class="img-fluid">
    </div>
    <div>
        <p>Repetto Tomas</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ab consequuntur id enim omnis doloremque magnam, earum 
                mollitia adipisci beatae non quaerat labore placeat laboriosam 
                ipsa maxime esse explicabo? Ea, odit.</p>
        </span>
    </div>
</div>